
	.brick6 {
	  color: white;
	  border: 2px solid white;
	  margin: 2px;
	  width: calc(50% - 4px);
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  box-sizing:border-box;
	  float: left;
	}
	.brick4 {
	  color: white;
	  border: 2px solid white;
	  margin: 2px;
	  width:calc(33.333% - 4px);
	  text-align: center;
	  box-sizing:border-box;
	  float: left;
	}
	.brick3 {
	  color: white;
	  border: 2px solid white;
	  margin: 2px;
	  width: calc(25% - 4px);
	  text-align: center;
	  box-sizing:border-box;
	  float: left;
	}
	.brick2 {
	  color: white;
	  border: 2px solid white;
	  margin: 2px;
	  width: calc(16.6666% - 4px);
	  text-align: center;
	  box-sizing:border-box;
	  float: left;
	}
	.brick1 {
	  color: white;
	  border: 2px solid white;
	  margin: 2px;
	  width: calc(8.333333% - 4px);
	  text-align: center;
	  box-sizing:border-box;
	  float: left;
	}
	.brick12 {
	  color: white;
	  border: 2px solid white;
	  margin: 2px;
	  width: calc(100% - 4px);
	  text-align: center;
	  box-sizing:border-box;
	  float: left;
	}

	.brick12_ballast {
		color: white;
		border: 2px solid white;
		margin: 2px;
		width: calc(100% - 4px);
		text-align: center;
		box-sizing:border-box;
		float: left;
	  }
