<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ML Groups</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ml_style1.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Bootstrap -->

    <script>

        var groups;
        var selectedChannel;

        $(document).ready(function () {

            $('#menu').load('/navbar', function () {
                $('#menubar').find("li").each(function (index) {
                    $(this).removeClass("active");
                });
                $("li:focus").addClass("active");
            });

            $.get("/channels_get", function (data, status) {
                channels = JSON.parse(data);
                $.each(channels, function (i, item) {
                    $('#channels').append($('<option>', {
                        value: item.ID,
                        text: item.channel_name
                    }));
                });
                $('#channels option')[0].selected = true;
                selectedChannel = channels[0];
                GetGroups();
            });



            function getGroupInputField(group_number, ID, group_name) {

                var group = `<option id='grp$ID$'>$number$ $name$</option>`;
                group = group.replace('$number$', group_number);
                group = group.replace('$ID$', ID);
                group = group.replace('$name$', group_name);

                return group;
            }
        });

        function GetGroups(){
            selectedIndex = $('#channels').prop('selectedIndex');
            argString = "?channel=" + (selectedIndex+1).toString();
            $.get("/groups_get" + argString, function (data, status) {
                groups = JSON.parse(data);
                $.each(groups, function (i, item) {
                    $('#groups').append($('<option>', {
                        value: item.ID,
                        text: item.dali_group_number + ' ' + item.dali_group_name
                    }));
                });
            });
        }

    </script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body>

    <div id='menu'></div>

    <div class="container">

        <div class="widePanel" style="width:900px;height:180px;">
            <div style="position:absolute;top:10px;left:10px;font-weight: bold;">Channels</div>
            <div style="position:absolute;top:10px;left:500px;font-weight: bold;">Groups</div>
            <select id='channels' size="5" style="position:absolute;top:60px;left:10px;width:300px;height: 100px;"
                onclick="DoSelectGChannel()"></select>
            <select id='groups' size="5" style="position:absolute;top:60px;left:500px;width:300px;height: 100px;"
                onclick="DoSelectGroup()"></select>
        </div>

        <div class="widePanel" style="width:900px;height:500px;">

            <div style="position:absolute;top:10px;left:10px;font-weight: bold;">Available</div>
            <div style="position:absolute;top:10px;left:500px;font-weight: bold;">In group</div>

            <select class="form-control" size=20 style="position:absolute;top:60px;left:10px;width:300px;height:400px"
                id='ballastsOutside'></select>
            <select class="form-control" size=20 style='position:absolute;top:60px;left:500px;width:300px;height:400px'
                id='ballastsInside'></select>

            <div style="padding:5px;">
                <div class="btn-group" role="group">
                    <button type='button' class='mlbutton' style="position:absolute;top:245px;left:340px;width:100px;"
                        onclick='RemoveFromGroup();'>←Remove</button>
                    <button type='button' class='mlbutton' style="position:absolute;top:200px;left:340px;width:100px;"
                        onclick='AddToGroup();'>Add→</button>
                </div>
            </div>
        </div>

        <div class="widePanel" style="width:900px;height:180px;">
            <h2>Upload- Download</h2>

            <button type='button' class='mlbutton' style="position:absolute;top:73px;left:10px;width:100px;"
                onclick='uploadToBallasts();'>Upload</button>
            <button type='button' class='mlbutton' style="position:absolute;top:73px;left:120px;width:100px;"
                onclick='downloadFromBallasts();'>Download</button>

            <div id='response' style="position:absolute;top:120px;left:20px;width:500px;">...</div>
        </div>
    </div>

    <script>

        var ballast_ids;
        var ballast_counter;
        var ballasts_not_in;
        var ballasts_in;

        $.get("/GetBallastIDsFromChannel?channel_number=1", function (data, status) {
            ballast_ids = JSON.parse(data);;
        });

        function DoSelectGroup() {

            index = $('#groups').prop('selectedIndex');

            function removeOptions(selectbox) {
                var i;
                for (i = selectbox.options.length - 1; i >= 0; i--) {
                    selectbox.remove(i);
                }
            }

            removeOptions(document.getElementById("ballastsInside"));
            removeOptions(document.getElementById("ballastsOutside"));

            $.get("/GetBallastsFromGroup?channel_number=1&group_number=" + index.toString(), function (data, status) {
                ballasts_in = JSON.parse(data);
                $.each(ballasts_in, function (i, item) {
                    $('#ballastsInside').append($('<option>', {
                        value: item.ID,
                        text: item.ballast_short_address + ' ' + item.ballast_name
                    }));
                });
            });

            $.get("/GetBallastsOutsideGroup?channel_number=1&group_number=" + index.toString(), function (data, status) {
                ballasts_not_in = JSON.parse(data);
                $.each(ballasts_not_in, function (i, item) {
                    $('#ballastsOutside').append($('<option>', {
                        value: item.ID,
                        text: item.ballast_short_address + ' ' + item.ballast_name
                    }));
                });
            });
        }

        function downloadFromBallasts() {
            ballast_counter = 0;
            downloadNext();
        }

        function downloadNext() {
            ballast_id = ballast_ids[ballast_counter].ID;
            $.get("/downloadGroupsFromBallast?ballast_id=" + ballast_id, function (data, status) {
                $("#response").text(data);
                ballast_counter++;
                if (ballast_counter < 64) {
                    downloadNext();
                }
            });
        }

        function AddToGroup() {

            selectedBallastIndex = $('#ballastsOutside').prop('selectedIndex');
            ballast = ballasts_not_in[selectedBallastIndex];
            selectedGroupIndex = $('#groups').prop('selectedIndex');
            group = groups[selectedGroupIndex];
            if (selectedBallastIndex > -1 && selectedGroupIndex > -1) {
                argString = "?group_number=" + group.dali_group_number.toString() + "&ballast_id=" + ballast.ID.toString();
                $.get("/AddBallastToGroup" + argString, function (data, status) {
                    if (data.localeCompare("http200") == 0) {
                        DoSelectGroup();
                    }
                });
            }
        }

        function RemoveFromGroup() {
            selectedBallastIndex = $('#ballastsInside').prop('selectedIndex');
            ballast = ballasts_in[selectedBallastIndex];
            selectedGroupIndex = $('#groups').prop('selectedIndex');
            group = groups[selectedGroupIndex];
            if (selectedBallastIndex > -1 && selectedGroupIndex > -1) {
                argString = "?group_number=" + group.dali_group_number.toString() + "&ballast_id=" + ballast.ID.toString();
                $.get("/RemoveBallastFromGroup" + argString, function (data, status) {
                    if (data.localeCompare("http200") == 0) {
                        DoSelectGroup();
                    }
                });
            }
        }

        function uploadToBallasts(){
            selectedChannelID = selectedChannel.ID;
            argStringChan = "?channel_ID=" + selectedChannelID.toString();
            for (let i=0;i<64;i++){
                argString = argStringChan + '&ballast_sa=' + i.toString()
                $.get("/UploadGroupsToDevice" + argString, function (data, status) {
                    if (data) {
                        $("#response").text(data);
                    }
                });  
            }
        }

    </script>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
</body>

</html>