<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Hello, world!</title>

  <style>
    /* Remove default bullets */
    ul,
    #myUL {
      list-style-type: none;
    }

    /* Remove margins and padding from the parent ul */
    #myUL {
      margin: 0;
      padding: 0;
    }

    .groupSelector {
      text-align: center;
      cursor: pointer;
      padding: 2px;
      margin: 1px;
      filter: alpha(opacity=90);
      font-size: 16px;
      color: black;
      border-style: solid;
    }

    .ballastSelector {
      text-align: center;
      cursor: pointer;
      padding: 10px;
      margin: 2px;
      opacity: 0.9;
      border-style: solid;
      filter: alpha(opacity=90);
      font-size: 35px;
      color: white;
    }
  </style>
</head>

<body>
  <h1>Hello, world!</h1>



  <div class="container">






    <div id="render" style="min-height: 238px;">
      <div class="row">
        <div class="col-sm-6 groupSelector" onclick="doSelectVisualItem(0, this)" id="sel4">Ballast nr 37</div>
        <div class="col-sm-6 groupSelector" onclick="doSelectVisualItem(1, this)" id="sel7">Benedenzone</div>
      </div>
      <div class="row">
        <div class="col-sm-12 groupSelector" onclick="doSelectVisualItem(2, this)" id="sel26">Ballast nr 41</div>
      </div>
      <div class="row">
        <div class="col-sm-6 groupSelector" onclick="doSelectVisualItem(3, this)" id="sel29">RGBBoven</div>
        <div class="col-sm-6 groupSelector" onclick="doSelectVisualItem(4, this)" id="sel33">Eettafel</div>
      </div>
      <div class="row">
        <div class="col-sm-12 groupSelector" onclick="doSelectVisualItem(5, this)" id="sel34">Eettafel</div>
      </div>
      <div class="row">
        <div class="col-sm-12 groupSelector" onclick="doSelectVisualItem(6, this)" id="sel35">Eettafel</div>
      </div>
      <div class="row">
        <div class="col-sm-12 groupSelector" onclick="doSelectVisualItem(7, this)" id="sel37">Eettafel</div>
      </div>
      <div class="row"></div>
    </div>








    <div id="render">

      <div class="row">
        <div class="col-sm-12 groupSelector" onclick="doSelectVisualItem(0)">Grote slaapkamer led dressing</div>
      </div>
      <div class="row">
        <div class="col-sm-6" onclick="doSelectVisualItem(1)">Grote slaapkamer led dressing</div>
        <div class="col-sm-6" onclick="doSelectVisualItem(2)">Grote slaapkamer TL5</div>
      </div>




      <div class="row">
        <div class="col-sm-12, groupSelector" onclick="doSelectVisualItem(0)">Grote slaapkamer led dressing</div>
      </div>
      <div class="row">
        <div class="col-sm-6, groupSelector" onclick="doSelectVisualItem(1)">Grote slaapkamer led dressing</div>
        <div class="col-sm-6, groupSelector" onclick="doSelectVisualItem(2)">Grote slaapkamer TL5</div>
      </div>
      <div class="row">
        <div class="col-sm-3, groupSelector" onclick="doSelectVisualItem(3)">Ballast nr 37</div>
        <div class="col-sm-3, groupSelector" onclick="doSelectVisualItem(4)">Ballast nr 34</div>
        <div class="col-sm-4, groupSelector" onclick="doSelectVisualItem(5)">Ballast nr 31</div>
        <div class="col-sm-1, groupSelector" onclick="doSelectVisualItem(6)">Benedenzone</div>
        <div class="col-sm-12, groupSelector" onclick="doSelectVisualItem(7)">Bureau</div>
      </div>
      <div class="row">
        <div class="col-sm-12, groupSelector" onclick="doSelectVisualItem(8)">Bureau</div>
      </div>
      <div class="row">
        <div class="col-sm-12, groupSelector" onclick="doSelectVisualItem(9)">RGB keukeneiland</div>
      </div>
      <div class="row">
        <div class="col-sm-12, groupSelector" onclick="doSelectVisualItem(10)">Tablet</div>
      </div>
      <div class="row"></div>
    </div>







    <div id="render">





      <div id="render">
        <div class="row">
          <div class="col-sm-12 groupSelector" onclick="doSelectVisualItem(0)">Grote slaapkamer led dressing</div>
        </div>
        <div class="row">
          <div class="col-sm-6" onclick="doSelectVisualItem(1)">Grote slaapkamer led dressing</div>
          <div class="col-sm-6" onclick="doSelectVisualItem(2)">Grote slaapkamer TL5</div>
        </div>
        <div class="row">
          <div class="col-sm-3 groupSelector" onclick="doSelectVisualItem(3)">Ballast nr 37</div>
          <div class="col-sm-3 groupSelector" onclick="doSelectVisualItem(4)">Ballast nr 34</div>
          <div class="col-sm-4 groupSelector" onclick="doSelectVisualItem(5)">Ballast nr 31</div>
          <div class="col-sm-2 groupSelector" onclick="doSelectVisualItem(6)">Benedenzone</div>
        </div>
        <div class="row">
          <div class="col-sm-12 groupSelector" onclick="doSelectVisualItem(7)">Bureau</div>
        </div>
        <div class="row">
          <div class="col-sm-12 groupSelector" onclick="doSelectVisualItem(8)">Bureau</div>
        </div>
        <div class="row">
          <div class="col-sm-12 groupSelector" onclick="doSelectVisualItem(9)">RGB keukeneiland</div>
        </div>
        <div class="row">
          <div class="col-sm-12 groupSelector" onclick="doSelectVisualItem(10)">Tablet</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6" style="background-color:yellow;padding:50px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.<br>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div class="col-sm-6" style="background-color:pink;">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
        </div>
      </div>








      <div class="row">
        <div class="col-sm" style=' border-style: solid;height:30px;'>Nothing selected</div>
      </div>
      <div class="row">
        <div class="col-sm-4" style='border-style: solid;height:30px;' onclick='off'>OFF</div>
        <div class="col-sm" style='border-style: solid;height:30px;' onclick='on'>ON</div>
      </div>
      <div class="row">
        <div class="col-sm" style='border-style: solid;height:30px;' onclick='down'>DOWN</div>
        <div class="col-sm" style='border-style: solid;height:30px;' onclick='up'>UP</div>
      </div>
      <div class="row">
        <div class="col-sm" style='border-style: solid;height:30px;' onclick='dim1'></div>
        <div class="col-sm" style='border-style: solid;height:30px;' onclick='dim2'></div>
        <div class="col-sm" style='border-style: solid;height:30px;' onclick='dim3'></div>
        <div class="col-sm" style='border-style: solid;height:30px;' onclick='dim4'></div>
        <div class="col-sm" style='border-style: solid;height:30px;' onclick='dim5'></div>
        <div class="col-sm" style='border-style: solid;height:30px;' onclick='dim6'></div>
        <div class="col-sm" style='border-style: solid;height:30px;' onclick='dim7'></div>
        <div class="col-sm" style='border-style: solid;height:30px;' onclick='dim8'></div>
        <div class="col-sm" style='border-style: solid;height:30px;' onclick='dim9'></div>
        <div class="col-sm" style='border-style: solid;height:30px;' onclick='dim10'></div>
        <div class="col-sm" style='border-style: solid;height:30px;' onclick='dim11'></div>
        <div class="col-sm" style='border-style: solid;height:30px;' onclick='dim12'></div>
      </div>
    </div>














    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>