<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>ML Groups</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- Bootstrap -->

  <style>
    h4 {
      margin-top: 25px;
    }

    .row {
      margin-bottom: 20px;
    }

    .row .row {
      margin-top: 10px;
      margin-bottom: 0;
    }

    [class*="col-"] {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #eee;
      background-color: rgba(86, 61, 124, .15);
      border: 1px solid #ddd;
      border: 1px solid rgba(86, 61, 124, .2);
    }

    .group_div {
      padding: 3px;
    }

    hr {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  </style>

  <script>
    $(document).ready(function () {

      $('#menu').load('/navbar', function () {
        $('#menubar').find("li").each(function (index) {
          $(this).removeClass("active");
        });
        $("li:contains('Groups')").addClass("active");
      });

      $("#aan").click(function () {
        $.get("aan", function (data, status) {
          $("#status").text(data)
        });
      });

      $("#uit").click(function () {
        $.get("uit", function (data, status) {
          $("#status").text(data)
        });
      });

      $.get("/groups_get?channel=1", function (data, status) {
        groups = JSON.parse(data);
        for (var i = 0; i < groups.length; i++) {
          var group = groups[i];
          $("#groups").append(getGroupInputField(group.dali_group_number, group.ID, group.dali_group_name, group.dali_group_is_umbrella))
        }
      });

      function getGroupInputField(group_number, ID, group_name, is_umbrella) {

        var group = `
          <div class='group_div'>
            <div style='width:30px;float:left;'>$number$</div>
            <input class='groupInputField' id='grp$ID$' onchange='GroupNameChangeHandler(this.value, this.id)' value=$name$></input>
            <input type="checkbox" class="form-check-input"  ID='$chck$ID$'  onchange='GroupUmbrellaChangeHandler(this.checked, this.id)' $checked$> Contains other groups</input><br>
          </div>
          `;

        group = group.replace('$number$', group_number);
        group = group.replace('$ID$', ID);
        group = group.replace('$ID$', ID);
        group = group.replace('$name$', group_name);
        if (is_umbrella) {
          group = group.replace('$checked$', 'checked');

        }
        else {
          group = group.replace('$checked$', '');
        }

        return group;
      }


    });

  </script>


</head>

<body>


  <div id='menu'></div>
  <div class="container">
    <div class="row" id='groups'></div>
  </div>


  <script>
    function GroupNameChangeHandler(value, group_id) {
      group_id = group_id.substr(3, group_id.length);
      $.post("/UpdateGroupName", { group_name: value, ID: group_id });
    };

    function GroupUmbrellaChangeHandler(value, group_id) {
      group_id = group_id.substr(5, group_id.length);
      if (value) {
        value = 1;
      }
      else {
        value = 0;
      }
      $.post("/UpdateGroupIsUmbrella", { dali_group_is_umbrella: value, ID: group_id });
    };

  </script>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
</body>

</html>