<!DOCTYPE html>
<html lang="en"  translate="no">

<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta name="google" content="notranslate">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Index</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<script type="text/javascript">
		(function(document,navigator,standalone) {
			// prevents links from apps from oppening in mobile safari
			// this javascript must be the first script in your <head>
			if ((standalone in navigator) && navigator[standalone]) {
				var curnode, location=document.location, stop=/^(a|html)$/i;
				document.addEventListener('click', function(e) {
					curnode=e.target;
					while (!(stop).test(curnode.nodeName)) {
						curnode=curnode.parentNode;
					}
					// Condidions to do this only on links to your own app
					// if you want all links, use if('href' in curnode) instead.
					if(
						'href' in curnode && // is a link
						(chref=curnode.href).replace(location.href,'').indexOf('#') && // is not an anchor
						(	!(/^[a-z\+\.\-]+:/i).test(chref) ||                       // either does not have a proper scheme (relative links)
							chref.indexOf(location.protocol+'//'+location.host)===0 ) // or is in the same protocol and domain
					) {
						e.preventDefault();
						location.href = curnode.href;
					}
				},false);
			}
		})(document,window.navigator,'standalone');
	</script>


  <!-- Bootstrap -->

  <style>

  </style>

  <script>

    $(document).ready(function () {





      $.get("/getPages", function (data, status) {
        pages = JSON.parse(data);
        listHTML = '';
        for (var index = 0; index < pages.length; index++) {
          var page = pages[index];
          listHTML = listHTML + getPageButton(page.page_name, index);
        }
        $('#index').html(listHTML);
      });

      function getPageButton(name, index) {
        pageButton = "<div style='$style' onclick='selectControlPage($index)'>$name</div>";
        pageButton = pageButton.replace('$name', name);
        pageButton = pageButton.replace('$index', index);
        pageButton = pageButton.replace('$style', 'text-align: center;' +
          'cursor: pointer;' +
          'padding:10px;' +
          'margin:2px;' +
          'opacity: 0.9;' +
          'border-style: solid;' +
          'filter: alpha(opacity=90);' +
          'font-size: 35px;' +
          'color: white;');
        return pageButton;
      }

    });

  </script>

</head>

<body background="static/bg/11.jpg">
  <div id='menu'></div>
  <div class="container">

    <div id='index' style="padding-top:20px;">

    </div>

  </div>

  <script>


    function selectControlPage(index) {
      var page = pages[index];
      window.open('control?pageID=' + page.ID, "_self");
      //$.get('control?pageID=' + page.ID, function (data, status) {
      
      //});
    }
  </script>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
</body>

</html>