<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="#">Ministry of Light</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="ballasts">Ballasts</a></li>
            <li><a href="groups">Group names</a></li>
            <li><a href="ballasts_per_group">Groups</a></li>
            <li><a href="scenes">Scenes</a></li>
            <li><a href="settings">Settings</a></li>
            <li><a href="visuals">Visuals</a></li>
            <li><a href="channels">Channels</a></li>
            <li><a href="virtual_groups">Virtual Groups</a></li>
            <li><a href="database">Database</a></li>
        </ul>

      </div>
    </div>
  </nav>