<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ML Groups</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bricks.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ml_style1.css') }}">

    <style>
        /* Remove default bullets */
        ul,
        #myUL {
            list-style-type: none;
        }

        /* Remove margins and padding from the parent ul */
        #myUL {
            margin: 0;
            padding: 0;
        }

        .groupSelector {
            text-align: center;
            cursor: pointer;
            padding: 2px;
            margin: 1px;
            filter: alpha(opacity=90);
            font-size: 16px;
            color: black;
            border-style: solid;
        }

        .ballastSelector {
            text-align: center;
            cursor: pointer;
            padding: 10px;
            margin: 2px;
            opacity: 0.9;
            border-style: solid;
            filter: alpha(opacity=90);
            font-size: 35px;
            color: white;
        }
    </style>

    <script>

        var tree;
        var visuals;
        var previousTreeType = 0
        var ulIndex = 0;
        var ulID = '';
        var g_Pages;
        var g_SelectedPageIndex;
        var g_selectedVisualID;
        var g_selectedVisualName;
        var g_bgColor = 'black';
        var g_SelectedColor = 'gray';
        var pageID = 1;
        var g_VirtualGroups;
        var g_Groups;
        var g_Ballasts;
        var g_DaliChannels;

        function getVisuals() {
            pageID = g_Pages[g_SelectedPageIndex].ID;
            Height = $('#render').css("height");
            //$('#render').css('min-height',Height)
            $('#render').empty();
            $.get("/getVisual?visual_page_id=" + pageID, function (data, status) {
                visuals = JSON.parse(data);
                visual_columns_total = 0;
                new_row_detected = 0;

                grid_html = "";

                for (var index = 0; index < visuals.length; index++) {
                    var visual_item = visuals[index];
                    grid_html = grid_html + getVisualItem2(visual_item.visual_name, visual_item.visual_type, visual_item.visual_columns, index, visual_item.ID);
                    visual_columns_total = visual_columns_total + visual_item.visual_columns;
                    if (visual_columns_total >= 12) {
                        visual_columns_total = 0;
                        new_row_detected = 1;
                        grid_html = grid_html;
                    }
                }
                grid_html = grid_html + "</div>";
                $('#render').html(grid_html);
                doSelectVisualItemByDataID();
                selectSelected();
            });
        }

        function getVisualItem2(visual_name, visual_type, visual_columns, index, ID) {
            if (visual_type !== 9) {
                visualItem = "<div class='brick$visual_columns'" +
                    " data-ID=$DataID " +
                    " onclick = 'doSelectVisualItem($index, this)'>$visual_name</div>";
            }

            visualItem = visualItem.replace('$index', index);
            visualItem = visualItem.replace('$visual_name', visual_name);
            visualItem = visualItem.replace('$visual_columns', visual_columns);
            visualItem = visualItem.replace('$DataID', "'" + ID + "'");

            return visualItem;
        }

        $(document).ready(function () {

            $('#menu').load('/navbar', function () {
                $('#menubar').find("li").each(function (index) {
                    $(this).removeClass("active");
                });
                $("li:contains('Visuals')").addClass("active");
            });

            loadPages();



            $.get("/GetChannels", function (data, status) {
                g_DaliChannels = JSON.parse(data);
                if (g_DaliChannels.length > 0) {
                    $.each(g_DaliChannels, function (i, item) {
                        $('#channels').append($('<option>', {
                            value: item.ID,
                            text: item.channel_name
                        }));
                    });
                    $('#channels option')[0].selected = true;
                    selectChannel();
                }
            });

            getVirtualGroups();
        });


        function loadPages() {
            $.get("/getPages", function (data, status) {
                $('#pages').empty();
                g_Pages = JSON.parse(data);
                if (g_Pages.length > 0) {
                    $.each(g_Pages, function (i, item) {
                        $('#pages').append($('<option>', {
                            value: item.ID,
                            text: item.page_name
                        }));
                    });
                    $('#pages option')[0].selected = true;
                    getVisuals();
                    g_SelectedPageIndex = 0;
                }
            });
        }

        function getVirtualGroups() {

            $.get("/getVirtualGroups", function (data, status) {
                g_VirtualGroups = JSON.parse(data);

                $('#group_items').empty();

                $.each(g_VirtualGroups, function (i, item) {
                    $('#virtual_groups').append($('<option>', {
                        value: item.ID,
                        text: item.name
                    }));
                });
            });
        }

        function doSelectPage() {
            g_SelectedPageIndex = $('#pages').prop('selectedIndex');
            pageID = g_Pages[g_SelectedPageIndex].ID;
            $('#page_name:text').val(g_Pages[g_SelectedPageIndex].page_name);
            $('#page_font_size:text').val(g_Pages[g_SelectedPageIndex].page_font_size);
            $('#page_button_height:text').val(g_Pages[g_SelectedPageIndex].page_button_height);
            getVisuals();
        }

        function selectChannel() {
            selectedIndex = $('#channels').prop('selectedIndex');
            if (selectedIndex > -1) {
                channel = g_DaliChannels[selectedIndex];

                $.get("/groups_get?channel=1", function (data, status) {
                    g_Groups = JSON.parse(data);
                    $.each(g_Groups, function (i, item) {
                        $('#groups').append($('<option>', {
                            value: item.ID,
                            text: item.dali_group_number + ' ' + item.dali_group_name
                        }));
                    });
                });

                $.get("/ballasts_get?channel=1", function (data, status) {
                    g_Ballasts = JSON.parse(data);
                    $.each(g_Ballasts, function (i, item) {
                        $('#ballasts').append($('<option>', {
                            value: item.ID,
                            text: item.ballast_short_address + ' ' + item.ballast_name
                        }));
                    });
                });
            }
        }

        function addGroup() {

            selectedIndex = $('#groups').prop('selectedIndex');

            if (selectedIndex < 0) {
                alert('Select group first.')
                return;
            }

            visualPageID = g_Pages[g_SelectedPageIndex].ID;
            group = g_Groups[selectedIndex];
            XHRString = '/InsertVisual?arg1arg2arg3arg4arg5';
            XHRString = XHRString.replace('arg1', 'visual_name=' + group.dali_group_name + '&');
            XHRString = XHRString.replace('arg2', 'visual_page_ID=' + visualPageID.toString() + '&');
            XHRString = XHRString.replace('arg3', 'visual_type=2&');
            XHRString = XHRString.replace('arg4', 'visual_columns=' + '12' + '&');
            XHRString = XHRString.replace('arg5', 'visual_ID_of_type=' + group.ID);

            $.get(XHRString, function (data, status) {
                getVisuals();
            });
        }

        function AddPage() {

            $.get("/InsertPage", function (data, status) {
                if (data.localeCompare('http200') == 0) {
                    loadPages();
                }
            });
        }

        function DeletePage() {
            page_id = g_Pages[g_SelectedPageIndex].ID;
            $.get("/DeletePage?page_id=" + page_id.toString(), function (data, status) {
                if (data.localeCompare('http200') == 0) {
                    loadPages();
                }
            });
        }

        function SavePage() {
            page_id = g_Pages[g_SelectedPageIndex].ID;
            page_name = $('#page_name').val();
            page_font_size = $('#page_font_size').val();
            page_button_height = $('#page_button_height').val();

            argString = "?page_name=" + page_name +
                "&page_font_size=" + page_font_size +
                "&page_button_height=" + page_button_height +
                "&page_id=" + page_id.toString();

            $.get("/UpdatePage" + argString, function (data, status) {
                if (data.localeCompare('http200') == 0) {
                    loadPages();
                }
            });
        }


        function addBallast() {

            selectedIndex = $('#ballasts').prop('selectedIndex');

            if (selectedIndex < 0) {
                alert('Select ballast first.')
                return;
            }

            visualPageID = g_Pages[g_SelectedPageIndex].ID;
            ballast = g_Ballasts[selectedIndex];
            XHRString = '/InsertVisual?arg1arg2arg3arg4arg5';
            XHRString = XHRString.replace('arg1', 'visual_name=' + ballast.ballast_name + '&');
            XHRString = XHRString.replace('arg2', 'visual_page_ID=' + visualPageID.toString() + '&');
            XHRString = XHRString.replace('arg3', 'visual_type=3&');
            XHRString = XHRString.replace('arg4', 'visual_columns=' + '12' + '&');
            XHRString = XHRString.replace('arg5', 'visual_ID_of_type=' + ballast.ID);

            $.get(XHRString, function (data, status) {
                getVisuals();
            });
        }

        function addVirtualGroup() {

            selectedIndex = $('#virtual_groups').prop('selectedIndex');

            if (selectedIndex < 0) {
                alert('Select virtual group first.')
                return;
            }

            visualPageID = g_Pages[g_SelectedPageIndex].ID;
            virtual_group_item = g_VirtualGroups[selectedIndex];
            XHRString = '/InsertVisual?arg1arg2arg3arg4arg5';
            XHRString = XHRString.replace('arg1', 'visual_name=' + virtual_group_item.name + '&');
            XHRString = XHRString.replace('arg2', 'visual_page_ID=' + visualPageID.toString() + '&');
            XHRString = XHRString.replace('arg3', 'visual_type=4&');
            XHRString = XHRString.replace('arg4', 'visual_columns=' + '12' + '&');
            XHRString = XHRString.replace('arg5', 'visual_ID_of_type=' + virtual_group_item.ID);

            $.get(XHRString, function (data, status) {
                getVisuals();
            });
        }

    </script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body>

    <div id='menu'></div>



    <div class="container">


        <div class='widePanel' style='height:220px;width:1000px;'>
            <label for="pages" style="position:absolute;top:28px;left:10px">Pages</label>
            <select id="pages" size="5" onClick="doSelectPage()"
                style="position:absolute; top:58px; left:10px; width: 237px;height: 100px;"></select>
            <button type="button" class="mlbutton" style="position:absolute; top:175px; left:10px; width:80px;"
                onclick='AddPage();'>Add</button>
            <button type="button" class="mlbutton" style="position:absolute; top:175px; left:100px; width:80px;"
                onclick='DeletePage();'>Remove</button>
            <button type="button" class="mlbutton" style="position:absolute; top:175px; left:500px; width:80px;"
                onclick='SavePage();'>Save</button>

            <label for="page_name" style="position:absolute;top:58px;left:310px">Name</label>
            <input id="page_name" style="position:absolute; top:58px; left:360px; width:200px;"></input>

            <label for="page_font_size" style="position:absolute;top:88px;left:290px">Font-size</label>
            <input id="page_font_size" style="position:absolute; top:88px; left:360px; width:40px;"></input>
            <label style="position:absolute;top:88px;left:410px">pixels</label>

            <label for="page_button_height" style="position:absolute;top:118px;left:260px">Button height</label>
            <input id="page_button_height" style="position:absolute; top:118px; left:360px; width:40px;"></input>
            <label style="position:absolute;top:118px;left:410px">pixels</label>

        </div>


        <div class='widePanel' style='height:530px;width:1000px;'>

            <label for="channels" style="position:absolute;top:28px;left:10px">Channels</label>
            <select id="channels" size="5" onClick="selectChannel()"
                style="position:absolute; top:58px; left:10px; width: 237px;height: 200px;"></select>

            <label for="groups" style="position:absolute;top:28px;left:257px">Groups</label>
            <select id="groups" size="20"
                style="position:absolute; top:58px; left:257px; width: 237px;height: 400px;"></select>

            <label for="ballasts" style="position:absolute;top:28px;left:504px">ballasts</label>
            <select id="ballasts" size="20"
                style="position:absolute; top:58px; left:504px; width: 237px;height: 400px;"></select>

            <label for="virtual_groups" style="position:absolute;top:28px;left:751px">Virtual groups</label>
            <select id="virtual_groups" size="20"
                style="position:absolute; top:58px; left:750px; width: 237px;height: 400px;"></select>

            <button type="button" class="mlbutton" style="position:absolute; top:475px; left:10px; "
                onclick='addChannel();'>Add ↓</button>
            <button type="button" class="mlbutton" style="position:absolute; top:475px; left:257px; "
                onclick='addGroup();'>Add ↓</button>
            <button type="button" class="mlbutton" style="position:absolute; top:475px; left:504px; "
                onclick='addBallast();'>Add ↓</button>
            <button type="button" class="mlbutton" style="position:absolute; top:475px; left:750px; "
                onclick='addVirtualGroup();'>Add ↓</button>
        </div>

        <div class='widePanel'>
            <div style="padding:5px;">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-danger" onclick='removeSelected()'><span
                            class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="button" class="btn btn-primary" onclick='moveUp()'><span
                            class="glyphicon glyphicon-arrow-up"></span>
                    </button>
                    <button type="button" class="btn btn-primary" onclick='moveDown()'><span
                            class="glyphicon glyphicon-arrow-down"></span>
                    </button>
                    <button type="button" class="btn btn-dark" onclick='resize(12)'>1/1</button>
                    <button type="button" class="btn btn-dark" onclick='resize(6)'>1/2</button>
                    <button type="button" class="btn btn-dark" onclick='resize(4)'>1/3</button>
                    <button type="button" class="btn btn-dark" onclick='resize(3)'>1/4</button>
                </div>
            </div>
            <div id='render' style="background-color:black;display: block; overflow: auto;"></div>
        </div>


        <script>
            var selectedIndex = -1;

            function treeItemOnClick(index, divElem) {
                selectedIndex = index;
                var ul = document.getElementById("tree");
                var items = ul.getElementsByTagName("div");
                for (var i = 0; i < items.length; ++i) {
                    items[i].style.fontWeight = 'normal';
                }
                divElem.style.fontWeight = 'bold';
            }

            function treeItemToggleClick(ID, spanElement) {
                spantext = spanElement.textContent;
                if (spantext.localeCompare('+') == 0) {
                    listItems = $('#' + ID).children().css("display", "block");
                    spanElement.textContent = "-";
                } else {
                    listItems = $('#' + ID).children().css("display", "none");
                    spanElement.textContent = "+";
                }
            }

            function addElement() {
                if (selectedIndex < 0) {
                    alert('Select element first.')
                    return;
                }
                visualPageID = g_Pages[g_SelectedPageIndex].ID;
                var tree_item = tree[selectedIndex];
                XHRString = '/InsertVisual?arg1arg2arg3arg4arg5';
                XHRString = XHRString.replace('arg1', 'visual_name=' + tree_item.name + '&');
                XHRString = XHRString.replace('arg2', 'visual_page_ID=' + visualPageID.toString() + '&');
                XHRString = XHRString.replace('arg3', 'visual_type=' + tree_item.type + '&');
                XHRString = XHRString.replace('arg4', 'visual_columns=' + '12' + '&');
                XHRString = XHRString.replace('arg5', 'visual_ID_of_type=' + tree_item.id_of_type);

                $.get(XHRString, function (data, status) {
                    getVisuals();
                });
            }

            var SelectedVisualIndex;

            function doSelectVisualItem(index, source) {
                g_selectedVisualName = source.innerHTML;
                $('#render').find("div").each(function (index) {
                    $(this).css("background-color", "black");
                });
                SelectedVisualIndex = index;

                var visual_item = visuals[index];
                g_selectedVisualID = visual_item.ID;
                source.style.backgroundColor = g_SelectedColor;
            }

            function doSelectVisualItemByDataID() {

                if (g_selectedVisualID) {
                    $('#render').find("div").each(function (index) {
                        $(this).css("background-color", "black");
                    });
                    dv = $('*[data-ID="' + g_selectedVisualID + '"]');
                    dv.css("background-color", g_SelectedColor);
                }
            }

            function removeSelected() {
                if (g_selectedVisualID < 0) { return }

                $.get("/DeleteVisual?ID=" + g_selectedVisualID.toString(), function (data, status) {
                    response = data;
                    if (data.localeCompare('http200') == 0) {
                        getVisuals();
                    }
                });
            }

            function resize(col_width) {
                if (g_selectedVisualID < 0) { return }

                $.get("/ResizeVisual?col_width=" + col_width.toString() + '&ID=' + g_selectedVisualID.toString(), function (data, status) {
                    response = data;
                    if (data.localeCompare('http200') == 0) {
                        getVisuals();
                    }
                });
            }

            function moveUp() {
                if (g_selectedVisualID < 0) { return }

                $.get("/MoveVisualUp?visual_id=" + g_selectedVisualID.toString(), function (data, status) {
                    response = data;
                    if (data.localeCompare('http200') == 0) {
                        getVisuals();
                    }
                });
            }

            function moveDown() {
                if (g_selectedVisualID < 0) { return }

                $.get("/MoveVisualDown?visual_id=" + g_selectedVisualID.toString(), function (data, status) {
                    response = data;
                    if (data.localeCompare('http200') == 0) {
                        getVisuals();
                    }
                });
            }

            function selectSelected() {
                if (!g_selectedVisualID) { return };
                id = 'sel' + g_selectedVisualID.toString();
                $('#' + id).css('background-color', g_bgColor);
            }

        </script>



</body>

</html>